body {
    background: #FED89F;
}
.right-section {
    margin-left: 250px;   // keep a margin between navbar and form
}

.invoices {
    font-size: 15px;
    margin-left: 5px;
}

.invoices > .card {
    margin: 5px;
}


.img-container {
    max-width: 100%;
    max-height: 100%;
}

.img-container > img {
    float: right;
    margin: 5px;
     cursor: pointer;
}


.category, .total, .price, .quantity {
    font-size: 12px;
}

.total, .price, .quantity {
    text-align: right;
}

.currentDate {
    display: inline;
}

.logo {
    float: right;
}

.total-div {
    text-align: right;
}

.product-header {
    font-weight: 600;
}

.invoice-number-date {
    text-align: right;
}

.card-header {
    border-bottom: solid;
}

.invoice-title {
    font-weight: 600;
    top: 35px;
    position: absolute;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    /*width: 250px;*/
    padding: 10px 14px;
    background-color: white;
    border-top-right-radius: 25px;
    box-shadow: 1px 0px 5px gray;
}

nav.menu_items {
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu_items li {
    list-style: none;
}

.menu_items li a {
    height: 30px;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-top: 25px;
    color: black;
    padding-left: 7px;
}

.ul li.active{
    margin-right: 40px;
    background-color: rgb(242, 193, 102);
    border-radius: 7px;
    font-weight: 600;
}

.menu_items li a:hover{
 background-color: rgb(242, 193, 102);
    border-radius: 7px;
}

.nav_links li a.active {
    color: #FF0000;
}

.logout_btn {
    background-color: rgb(242, 193, 102);
    padding: 8px;
    padding-top: 1%;
    border-radius: 5px;
    border-color: rgb(242, 193, 102);
    position: absolute;
    bottom: 0;
    margin-bottom: 50px;

}

.search-bar {
    margin: 10px -10px;
}

.input-group-btn {
    height: 98%;
    background: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.search-form {
    width: 100%;
    display: inherit;
}
.search-text {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.archive-btn, .unarchive-btn {
    background: #F2A530;
}

.cancel-btn {
    color: #000000;
    background: #fff;
}

.modal-footer {
    border: none;
}
