/* Additional styles for the Change Password page */

.right-section {
    padding: 20px; /* Add some padding to the right section */
}

.content .boxes .box {
    height: auto; /* Adjust the height to fit the content */
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.form-group label {
    margin-top: 10px;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.readonly {
    cursor: not-allowed;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.save-btn {
    background-color: #F2A530;
    color: #F5F5F5;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.save-btn:hover {
    background-color: #FF7008;
}

.back-btn {
    background-color: #F2A530;
    color: #F5F5F5;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.back-btn:hover {
    background-color: #FF7008;
}

/* Mobile View */
@media (max-width: 415px) {
    .right-section {
        padding: 10px; /* Adjust padding for mobile view */
    }
}

/* Tablet/iPad view */
@media (min-width: 768px) and (max-width: 1180px) {
    .right-section {
        padding: 20px; /* Adjust padding for tablet view */
    }
}
