* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
}
body {

 min-height: 100vh;
 background-color: rgb(242, 193, 102);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: white;
    border-top-right-radius: 25px;
    box-shadow: 1px 0px 5px gray;

}

nav.menu_items {
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.menu_items li {
    list-style: none;

}

.menu_items li a {
    height: 30px;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-top: 25px;
    color: black;
    padding-left: 7px;

}

.menu_items li a:hover,
ul li:nth-child(5) {
    border-radius: 7px;
}

.ul li.active{
    margin-right: 40px;
    background-color: rgb(242, 193, 102);
    border-radius: 7px;
    font-weight: 600;
}

.menu_items li a:hover{
 background-color: rgb(242, 193, 102);
    border-radius: 7px;
}

.nav_links li a.active {
     background-color: rgb(242, 193, 102);
        border-radius: 7px;
}

.logout_btn {
    background-color: rgb(242, 193, 102);
    padding: 8px;
    padding-top: 1%;
    border-radius: 5px;
    border-color: rgb(242, 193, 102);
    position: absolute;
    bottom: 0;
    margin-bottom: 50px;

}

.content {
    padding-top: 50px;
}

.right-section {
    margin-left: 255px;   // keep a margin between navbar and form
}
.content .boxes .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 12px;
        width: 95%;
        height: 500px;
        padding: 15px 12px;
        background-color: white;
}

label {
    margin-top: 5px;
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
}

.form-group {
            width: 100%;
            margin-bottom: 15px;
 }

 .form-control {
            width: 100%;
            margin-block-end: 15px;
}

.readonly {
    background-color: #f2f2f2;
    cursor: not-allowed;
}

.buttons{
	padding:22px 120px;
	display: flex;
	align-items: center;
	gap: 100px;
	display: flex;
 align-items: center;
 justify-content: center;

}

.cancel-btn,
.reset-password-btn,
.save-btn {
  width: 180px;
  height: 44px;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #F5F5F5;
  background: #F2A530;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.cancel-btn,
.reset-password-btn{
  border: 2px solid #F2A530;
  background-color: white;
  color: #F2A530;
}

.cancel-btn:hover,
.reset-password-btn:hover {
  background: #fcf7f0;
}

.save-btn:hover {
  background: #FF7008;
}

/* Mobile View */
@media (max-width: 415px) {
    nav {
        width: 100%;
        padding: 10px;
        border-top-right-radius: 0;
        box-shadow: none;
    }

    .content .boxes, .content .horizontal_boxes {
        margin-left: 0;
        margin-right: 0;
    }

    .content .boxes .box, .content .horizontal_boxes .h_box {
        width: 100%;
    }
}

/* Tablet/iPad view */
@media (min-width: 768px) and (max-width: 1180px) {
    nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 250px;
        padding: 10px 14px;
        background-color: white;
        border-top-right-radius: 25px;
        box-shadow: 1px 0px 5px gray;
    }

    nav.menu_items {
        margin-top: 40px;
        height: calc(100% - 90px);
    }

    .content .boxes,
    .content .horizontal_boxes {
        margin-left: 300px;
        margin-right: 20px;
    }
}

